{% extends "base.html" %} {% load staticfiles %}
{% block content %}
<!--/#header-->        <section id="page-breadcrumb">
            <div class="vertical-center sun">
                <div class="container">
                    <div class="row">
                        <div class="action">
                            <div class="col-sm-12">
                                <strong><h1 class="title">EKTRAKURIKULER</h1></strong>
                                <ol class="breadcrumb">
                                    <li><a href='{% url "post_home" %}'>Home</a>
                                    </li>
                                    <li><a href='{% url "ekstrakurikuler" %}'>Ekstrakurikuler</a>
                                    </li>
                                    <li class="active">Karawitan</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/#action-->
        <section id="blog" class="padding-top">
            <div class="container">
                <div class="row">

                    <div class="col-md-9 col-sm-7">
                        <div class="row">
                            <div class="well wow fadeInUp">
                                <div class="thumbnail">
                                    <center><img class="img-responsive" style="max-width: 600px;" src="{% static 'img/pramuka.jpg'%}" alt=""></center>
                                    <div class="caption">
                                        <div class="text-center">
                                            <h3>Karawitan
                                                <br>
                                                <small>Ektrakurikuler</small>
                                            </h3>
                                        </div>
                                        <hr>
                                        <p><p><strong>Karawitan</strong> adalah seni suara daerah baik vokal atau instrumental yang mempunyai klarifikasi dan perkembangan dari daerahnya itu sendiri.</p>
<p>Karawitan di bagi 3, yaitu :</p>
<ol>
<li>Karawitan Sekar.</li>
<li>Karawitan Gending.</li>
<li>Karawitan Sekar Gending.</li>
</ol>
<p>Sebelum merambah pada penjelasan pembagian tiga jenis karawitan ini, perlu diketahui bahwa deskripsi karawitan berikut ini lebih difokuskan pada Karawitan Sunda.</p></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}
